{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima iure, earum sint numquam quia nihil, voluptatibus consectetur eos consequatur aliquid cum! Accusamus dignissimos corrupti eligendi rerum minima quasi sapiente magnam?</p>
        <div class="text-center">
            <a class="btn btn-secondary" href="/signin/">
                Sign In
            </a>
            <a class="btn btn-dark" href="/signup/">
                Sign Up
            </a>
        </div>
    </section>
</main>

{% endblock %}